extends layout

block content
  h1= title
  ul.list-unstyled
    if show && quotes[show]
      small.text-muted= quotes[show].student
      li= quotes[show].data
    else
      each quote in quotes
        small.text-muted= quote.student
        li&attributes({'id': quote._id})
            = quote.quote

  // register form
  form(method='POST' action='/student')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Enter Student Name' name='name')
    div.form-group
      label(for='data') Quote:
      input#data.form-control(type='data', placeholder='Quote' name='data')
    button.btn.btn-primary(type='submit') Submit